<div id="sidebar">
    <div class="nav flex-column">
        <a class="nav-link" id="searchToggle" title="搜尋條件">
            <i class="bi bi-search"></i>
            <span class="nav-text">搜尋條件</span>
        </a>
        <a class="nav-link" id="listToggle" title="瑕疵列表">
            <i class="bi bi-list-ul"></i>
            <span class="nav-text">瑕疵列表</span>
        </a>
        <a class="nav-link" id="addDefectToggle" title="新增瑕疵" data-bs-toggle="modal" data-bs-target="#addDefectModal">
            <i class="bi bi-plus-circle"></i>
            <span class="nav-text">新增瑕疵</span>
        </a>
        <a class="nav-link" id="statsToggle" title="統計分析">
            <i class="bi bi-bar-chart"></i>
            <span class="nav-text">統計分析</span>
        </a>
    </div>
</div> 